body, ul {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #343534;
}
a {
	color: inherit;
	text-decoration: none;
}
input {
	-webkit-appearance: none;
}
.wrapper {
	text-align: center;
}
.logo {
	width: 115px;
	position: absolute;
	left: 0;
	margin: 15px;
}
.nav-block {
	width: 100%;
}
.nav-list {
	margin: 30px 0;
	display: inline-block;
	font-size: 1.1rem;
	color: #747474;
	list-style: none;
}
.nav-item {
	margin: 0 20px;
	float: left;
}
.nav-item-link:hover {
	color: #90E06F;
	text-decoration: underline;
}
.nav-item:nth-child(3):after {
	content: 'Nothing to report there yet';
	position: absolute;
	font-size: 0.9rem;
	color: #E4794C;
	display: none;
}
.nav-item:nth-child(3):hover:after {
	display: block;
}
.main-heading {
	margin: 25px 0 20px;
	font-weight: 300;
}
.signin-form {
	width: 300px;
	margin: 50px auto;
}
.form-input {
	padding: 4px;
	font-size: 1.1rem;
	font-family: inherit;
	font-weight: 300;
	color: #747474;
	border: solid 2px #a2a2a2;
	border-radius: 4px;
	text-indent: 4px;
	outline: 0;
	-webkit-transition: border-color 0.3s;
	transition: border-color 0.3s;
}
.form-input:focus {
	border: solid 2px #90e06f;
}
.form-submit {
	padding: 7px 35px;
	font-size: 1.1rem;
	font-family: inherit;
	font-weight: 300;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	border: 0;
	outline: 0;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
.signin-input {
	width: 80%;
	margin: 12px 0;
}
.signin-submit {
	display: inline-block;
	margin-top: 15px;
	background: #92C6FF;
}
.signin-submit:hover {
	background: #3E96FF;
}
.forgotten-password {
	display: none;
	font-size: 0.9rem;
	cursor: pointer;
}
.forgotten-password:hover {
	color: #7AB14A;
	text-decoration: underline;
}
.recover-pass-block {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	height: 240px;
	background: #fff;
	box-shadow: 0 1px 4px #A2A2A2;
	border-radius: 2px;
	display: none;
	opacity: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
#recover-pass-close {
	display: block;
	float: right;
	padding: 4px 6px;
	font-size: 0.8rem;
	color: #fff;
	background: #EB3941;
	cursor: pointer;
}
.recover-pass-heading {
	width: 98%;
	font-weight: 400;
}
.features-block {
	margin-top: 80px;
}
.feature {
	display: inline-block;
	width: 22%;
	margin: 0 3%;
}
.feature-text {
	font-size: 1.2rem;
	font-weight: 300;
	color: #747474;
	text-align: left;
}
.signup-heading {
	margin: 30px 0;
	font-size: 2rem;
	font-weight: 100;
	color: #747474;
}
.signup-form {
	width: 80%;
	margin: 0 auto;
}
.signup-input {
	width: 25%;
	margin: 0 2.5%;
}
.signup-submit {
	margin-top: 40px;
	background: #BEEDA9;
}
.signup-submit:hover {
	background: #90E06F;
}
.footer {
	margin: 40px 0 5px 0;
}
.footer-links {
	display: inline-block;
	list-style: none;
	font-weight: 300;
}
.footer-link-item {
	float: left;
	margin: 0 10px;
	color: #343534;
}
.footer-link-item:hover {
	text-decoration: line-through;
}
.footer-link-item:after {
	content: 'Not ready yet';
	position: absolute;
	margin-top: -40px;
	color: #E4794C;
	font-size: 0.9rem;
	display: none;
}
.footer-link-item:hover:after {
	display: block;
}
.madeby {
	margin: 15px 0;
	font-weight: 300;
	color: #A2A2A2;
}
.me {
	color: #e47911;
}
.me:hover {
	text-decoration: underline;
}
.app-about {

}
.app-about-image {
	width: 880px;
	max-width: 96%;
	margin: 30px auto 70px;
}
.app-about-heading {
	margin: 0 0 0 10%;
	font-weight: 300;
	color: #90E06F;
	text-align: left;
}
.app-about-text {
	width: 80%;
	margin: 5px auto 30px;
	font-size: 1.1rem;
	font-weight: 300;
	color: #787878;
	text-align: left;
}
@media screen and (max-width: 1024px) {
	.feature {
		width: 28%;
		margin: 6px 2%;
	}
	.feature-text {
		font-size: 1.1rem;
	}
}
@media screen and (max-width: 768px) {
	.logo {
		position: static;
	}
	.nav-list {
		margin: 5px 0 15px 0;
	}
	.signin-form {
		margin: 25px auto;
	}
	.signup-form {
		width: 100%;
	}
	.signup-input {
		max-width: 300px;
	}
	.feature-text {
		text-align: center;
	}
}
@media screen and (max-width: 767px) {
	.features-block {
		float: left;
	}
	.feature {
		float: left;
		width: 45%;
		margin: 0 2.5%;
	}
	.app-about-heading {
		margin-left: 2%;
	}
	.app-about-text {
		width: 96%;
	}
}
@media screen and (max-width: 668px) {
	.signup-input {
		width: 70%;
		margin: 12px 15%;
	}
	.signup-submit {
		margin-top: 20px;
	}
}
@media screen and (max-width: 468px) {
	.features-block,
	.feature {
		float: none;
	}

	.main-heading {
		width: 96%;
		font-size: 1.2rem;
	}
	.feature {
		width: 80%;
		margin: 0 auto;
	}
}