.settings-block {
	width: 300px;
	margin-bottom: 30px;
	/*padding-top: 30px; */
	position: fixed;
	right: 0;
	background: #fff;
	border-top: solid 2px #BABABA;
	border-left: solid 2px #BABABA;
	border-bottom: solid 2px #BABABA;
	z-index: 2;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.show-settings-block {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.settings-heading {
	margin-top: 0;
	padding: 6px 0 6px 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fff;
	background: #72D0F5;
}
.log-out {
	display: block;
	width: 36%;
	margin: 16px auto 10px;
	padding: 4px 0;
	color: #e54a4f;
	text-align: center;
	border: solid 2px #e54a4f;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	opacity: 0.6;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.log-out:hover {
	background: #e54a4f;
	color: #fff;
	border: solid 2px #e54a4f;
	opacity: 1;
}


.input-password {
	display: block;
	width: 80%;
	margin: 0 auto 10px;
	padding: 4px;
	font-family: inherit;
	font-size: 0.9rem;
	color: #747474;
	font-weight: 300;
	border: solid 2px #a2a2a2;
	border-radius: 3px;
	text-indent: 4px;
	outline: 0;
}
.submit-password {
	display: block;
	margin: 16px auto 10px;
	padding: 4px 14px;
	color: #BEEDA9;
	font-family: inherit;
	font-size: 1rem;
	text-align: center;
	border: solid 2px #BEEDA9;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.submit-password:hover {
	background: #90E06F;
	color: #fff;
	border: solid 2px #90E06F;
}
.test {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.expense-form {
	position: absolute;
	left: 35%;
	width: 30%;
	text-align: center;
	background: #fff;
	-webkit-transform: translateY(-85%);
	-ms-transform: translateY(-85%);
	transform: translateY(-85%);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.expense-form-show {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.add-expense {
	display: block;
	width: 40px;
	height: 40px;
	margin: 50px auto 0;
	font-weight: 300;
	font-size: 2rem;
	text-align: center;
	line-height: 40px;
	color: #fff;
	background: #343534;
	border-radius: 40px;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.add-expense:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	background: #FF6558;
}
.add-expense-translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.add-expense-categories-list {
	width: 100%;
	margin: 10px auto 25px;
	float: left;
	list-style: none;
}
.add-expense-category {
	width: 45%;
	margin: 10px 2.5%;
	float: left;
	font-size: 1rem;
	text-align: left;
	background-image: url(http://simplexpenses.herokuapp.com/static/img/rtn.png);
	background-position: 96%;
	background-size: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: 0;
}
.add-expense-category-selected {
	background-image: url(http://simplexpenses.herokuapp.com/static/img/rt.png);
}
.add-expense-new-category {
	width: 45%;
	margin: 10px 2.5%;
	float: left;
	font-size: 1rem;
	color: #FF6558;
	text-align: left;
	cursor: pointer;
	opacity: 0.5;
	outline: 0;
}
.add-expense-new-category:hover {
	opacity: 1;
}
.add-expense-sum {
	display: block;
	width: 90%;
	margin: 0 auto;
	font-family: inherit;
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
	outline: 0;
	border: 0;
}
.add-expense-description {
	display: block;
	width: 90%;
	margin: 20px auto 3px;
	padding-bottom: 3px;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 300;
	outline: 0;
	border: 0;
	border-bottom: dashed 1px #F17F7F;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.add-expense-description:hover {
	background: #fafafa;
}
.add-expense-description-label {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
	color: #B9B9B9;
	text-align: center;
}
.add-expense-submit {
	padding: 8px 30px;
	font-family: inherit;
	font-size: 1.1rem;
	font-weight: 300;
	color: #fff;
	background: #747474;
	border-radius: 2px;
	cursor: pointer;
	border: 0;
	outline: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.add-expense-submit:hover {
	background: #E03C3C;
}
.menu-block {
	padding: 15px 15px 0 0;
	position: absolute;
	top: 0;
	right: 0;
}
.menu-toggle {
	cursor: pointer;
}
.menu-toggle-line {
	display: block;
	width: 36px;
	height: 6px;
	margin: 4px 0;
	background: #343534;
	border-radius: 2px;
}
.menu-links {
	list-style: none;
}
.menu-link-item {
	height: 40px;
	margin: 11px 0;
	line-height: 40px;
}
.testes {
	display: block;
	line-height: 40px;
	float: left;
	text-align: right;
	opacity: 0;
	-webkit-transform: translateX(-30px);
	-ms-transform: translateX(-30px);
	transform: translateX(-30px);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.menu-icon {
	float: right;
	margin: 5px 0 5px 14px;
	opacity: 0.5;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.menu-link-item:hover .testes {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.menu-link-item:hover .menu-icon {
	opacity: 1;
}
/* Highly expiremental*/


body {
	margin: 0;
	padding: 0;
	color: #343534;
	font-family: 'Open Sans', sans-serif;
}
ul, p, h3, img {
	margin: 0;
	padding: 0;
}
a {
	color: #343534;
	text-decoration: none;
}
.monthly-graphs {
	width: 100%;
	float: left;
}
.this-month-block {
	width: 40%;
	margin: 0 0 100px 5%;
	float: left;
	text-align: center;
}
.sum-expenses,
.sum-planned {
	display: block;
	margin: 20px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	font-weight: 100;
	text-align: center;
}
.graph {
	display: flex;
	width: 100%;
	height: 240px;
	justify-content: center;
	align-items: flex-end;
	/* ... */
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: flex-end;
}
.category {
	width: 26px;
	height: 5px;
	margin-right: 20px;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.category:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.graph-expl {
	width: 100%;
	margin: 10px;
	font-weight: 300;
	text-align: center;
}
.planned-block {
	width: 40%;
	margin: 0 5% 100px 0;
	float: right;
	text-align: center;
}
.expenses-block {
	width: 84%;
	margin: 0 auto 50px;
	clear: both;
	overflow: hidden;
}
.expenses-list {
	width: 100%;
	list-style: none;
	font-weight: 300;
}
.expense {
	width: 100%;
	height: 50px;
	float: left;
	margin: 0 0 10px 0;
	font-size: 1.2rem;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.category-square {
	width: 1%;
	height: 50px;
	float: left;
}
.expense-sum {
	width: 12%;
	margin: 0 4% 0 2%;
	float: left;
	line-height: 50px;
}
.expense-description {
	width: 68%;
	padding: 1px 0;
	float: left;
	font-size: 1.1rem;
	font-weight: inherit;
	text-align: center;
	line-height: 50px;
}
.expense-date {
	width: 13%;
	float: left;
	font-size: inherit;
	font-weight: inherit;
	line-height: 50px;
	text-align: center;
}
.expense.ng-enter,
.expense.ng-leave {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
}

.expense.ng-enter,
.expense.ng-leave.ng-leave-active {
  opacity:0;
}
.expense.ng-leave,
.expense.ng-enter.ng-enter-active {
  opacity:1;
}
.testovobrat {
	position: absolute;
	padding: 8px 15px;
	font-weight: 300;
	color: #fff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
/* planned block */
.plan-right-block {
	width: 320px;
	position: fixed;
	right: 0;
	background: #fff;
	border-top: solid 2px #BABABA;
	border-left: solid 2px #BABABA;
	border-bottom: solid 2px #BABABA;
	z-index: 2;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.show-plan-right-block {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.summed-plan-amount {
	text-align: center;
	font-weight: 100;
}
.plan-small-graph {
	width: 90%;
	margin: 0 auto;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	/* ... */
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: flex-end;
}
.plan-small-category {
	width: 15px;
	height: 3px;
	margin: 0 8px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.plan-categories-list {
	width: 90%;
	margin: 0 auto;
	list-style: none;
}
.plan-categories-item {
	margin: 20px 0;
	overflow: hidden;
}
.plan-category-title {
	float: left;
}
.planned-category-amount {
	width: 30%;
	float: right;
	font-size: 1rem;
	text-align: right;
	border: 0;
	outline: 0;
}
.test-button {
	display: block;
	width: 28px;
	height: 28px;
	margin: 15px 15px 0 0;
	float: right;
	line-height: 30px;
	font-size: 1.2rem;
	color: #bababa;
	text-align: center;
	border-radius: 30px;
	border: solid 2px #bababa;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.test-button:hover {
	background: #FF6557;
	color: #fff;
	border: solid 2px #FF6557;

}