body {
	margin: 0;
	padding: 0;
	color: #343534;
	font-family: 'Open Sans', sans-serif;
}
ul, p, h3, img {
	margin: 0;
	padding: 0;
}
a {
	color: #343534;
	text-decoration: none;
}
.category-creation-input,
.add-expense-submit {
	-webkit-appearance: none;
}
.wrapper {
	position: relative;
	overflow: hidden;
}
.plan-expenses-small-graph,
.graph,
.canvas-holder {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: flex-end;
	display: -ms-flex;
	-ms-justify-content: center;
	-ms-align-items: flex-end;
}
.menu-block {
	padding: 15px 15px 0 0;
	position: absolute;
	top: 0;
	right: 0;
}
.plan-expenses-block,
.settings-block {
	width: 320px;
	position: absolute;
	right: 0;
	background: #fff;
	border-top: solid 2px #BABABA;
	border-left: solid 2px #BABABA;
	border-bottom: solid 2px #BABABA;
	z-index: 2;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.show-plan-expenses-block {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.plan-expenses-total {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
	clear: both;
}
.plan-expenses-small-graph {
	width: 90%;
	margin: 0 auto;
	height: 100px;
}
.plan-small-category {
	width: 15px;
	height: 3px;
	margin: 0 8px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.plan-categories-list {
	width: 90%;
	margin: 0 auto;
	list-style: none;
}
.plan-categories-item {
	margin: 20px 0;
	overflow: hidden;
}
.plan-category-title {
	float: left;
}
.plan-category-amount {
	width: 30%;
	float: right;
	font-size: 1rem;
	text-align: right;
	border: 0;
	outline: 0;
}
.hide-plan-expenses-block {
	display: block;
	width: 28px;
	height: 28px;
	margin: 15px 15px 0 0;
	float: right;
	line-height: 30px;
	font-size: 1.2rem;
	color: #bababa;
	text-align: center;
	border-radius: 30px;
	border: solid 2px #bababa;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.hide-plan-expenses-block:hover {
	background: #FF6557;
	color: #fff;
	border-color: #FF6557;
}
.menu-links {
	list-style: none;
}
.menu-link-item {
	height: 40px;
	margin: 11px 0;
	line-height: 40px;
	cursor: pointer;
}
.menu-icon {
	float: right;
	margin: 5px 0 5px 14px;
	opacity: 0.5;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.menu-link-name {
	display: block;
	float: right;
	line-height: 40px;
	opacity: 0;
	-webkit-transform: translateX(-30px);
	-ms-transform: translateX(-30px);
	transform: translateX(-30px);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.menu-link-item:hover .menu-link-name {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.menu-link-item:hover .menu-icon {
	opacity: 1;
}
.settings-block {
	margin-bottom: 30px;
}
.show-settings-block {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.settings-heading {
	margin-top: 0;
	padding: 6px 0 6px 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fff;
	background: #72D0F5;
}
.settings-group {
	width: 100%;
	float: left;
	margin: 10px 0;
}
.settings-label {
	float: left;
	margin-left: 12px;
}
.settings-input {
	width: 25%;
	margin: 0 12px 0 0;
	padding: 3px 0;
	float: right;
	font-size: 0.9rem;
	text-indent: 4px;
	border: solid 2px #C2C2C2
}
.settings-checkbox {
	width: 25px;
	height: 25px;
	float: right;
	margin: 0 12px;
	background-size: 25px;
	background-repeat: no-repeat;
	background-image: url(http://simplexpenses.herokuapp.com/static/img/1.png);
	background-color: transparent;
	border-color: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.settings-checkbox:checked {
	background-image: url(http://simplexpenses.herokuapp.com/static/img/2.png)
}
.log-out {
	display: block;
	width: 36%;
	margin: 16px auto 10px;
	padding: 4px 0;
	clear: both;
	color: #e54a4f;
	text-align: center;
	border: solid 2px #e54a4f;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	opacity: 0.6;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.log-out:hover {
	background: #e54a4f;
	color: #fff;
	opacity: 1;
}
.input-password {
	display: block;
	width: 80%;
	margin: 0 auto 10px;
	padding: 4px;
	font-family: inherit;
	font-size: 0.9rem;
	color: #747474;
	font-weight: 300;
	border: solid 2px #C2C2C2;
	border-radius: 3px;
	text-indent: 4px;
	outline: 0;
}
.submit-password {
	display: block;
	margin: 16px auto 10px;
	padding: 4px 14px;
	color: #BEEDA9;
	font-family: inherit;
	font-size: 1rem;
	text-align: center;
	border: solid 2px #BEEDA9;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.submit-password:hover {
	background: #90E06F;
	color: #fff;
	border-color: #90E06F;
}
.edit-category-color-picker,
.color-picker {
	position: absolute;
	padding: 0 5px;
	margin-top: -26px;
	background: #FFF;
	border: solid 1px #E9E9E9;
	box-shadow: 0 2px 3px #EBEBEB;
	border-radius: 4px;
}
.edit-category-color {
	display: block;
	float: left;
	margin: 0 6px 0 0;
	width: 22px;
	height: 22px;
	cursor: pointer;
}
.edit-category-title {
	cursor: pointer;
	outline: 0;
}
.edit-category-delete {
	float: right;
	padding: 2px 6px 2px;
	background: #FFF;
	color: #E74B4B;
	border: solid 1px #E74B4B;
	border-radius: 4px;
	-webkit-appearance: none;
}
.edit-category-delete:hover {
	color: #fff;
	background: #E74B4B;
}
.expense-form-wrapper {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 300;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.expense-form {
	position: absolute;
	/* This is hackish - always seek more methods, calc() don't have the needed support yet */
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 30%;
	min-width: 320px;
	border-radius: 3px;
	z-index: 1;
	-webkit-transform: translateY(-85%);
	-ms-transform: translateY(-85%);
	transform: translateY(-85%);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.expense-form-show {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.expense-form-translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	background: #fff;
	box-shadow: 0 2px 3px #BABABA;
}
.add-expense-error {
	position: absolute;
	width: 96%;
	display: block;
	padding: 2%;
	font-weight: 300;
	text-align: left;
	color: #fff;
	background: #E74B4B;
	z-index: 1;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.add-expense-error-show {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.add-expense-sum {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	font-family: inherit;
	font-size: 3rem;
	font-weight: inherit;
	text-align: center;
	outline: 0;
	border: 0;
}
.add-expense-categories-list {
	width: 100%;
	margin: 10px auto 25px;
	float: left;
	list-style: none;
}
.add-expense-category {
	width: 45%;
	padding: 10px 0;
	margin: 8px 2.5%;
	float: left;
	color: #fff;
	background-position: 94%;
	background-size: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: 0;
	opacity: 0.4;
	border-radius: 42px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.add-expense-category-selected {
	background-image: url(http://simplexpenses.herokuapp.com/static/img/rt.png);
	opacity: 1;
	font-weight: 400;
}
.category-creation-box {
	width: 45%;
	height: 42px;
	margin: 10px 2.5%;
	float: left;
	font-size: 1rem;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.color-picker {
	margin-top: -15px;
}
.category-color-input {
	display: block;
	width: 30px;
	height: 30px;
	margin: 10px 2px;
	float: left;
	border-radius: 30px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.category-creation-input {
	display: block;
	width: 62%;
	height: 24px;
	margin: 10px 6px;
	float: left;
	font-size: 0.9rem;
	text-indent: 2px;
	border: solid 2px #bababa;
	outline: 0;
}
.add-expense-description {
	display: block;
	width: 90%;
	margin: 20px auto 3px;
	padding-bottom: 3px;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: inherit;
	outline: 0;
	border: 0;
	border-bottom: dashed 1px #F17F7F;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.add-expense-description:hover {
	background: #fafafa;
}
.add-expense-description-label {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: #B9B9B9;
}
.add-expense-use-today {
	width: 100%;
	float: left;
}
.add-expense-checkbox {
	float: left;
}
.add-expense-checkbox-label {
	margin-left: 0;
}
.add-expense-date {
	width: 100%;
	margin: 4px 0;
	float: left;
}
.add-expense-set-date {
	width: 150px;
	margin: 10px 12px;
	text-indent: 4px;
}
.add-expense-submit {
	padding: 8px 30px;
	font-family: inherit;
	font-size: 1.1rem;
	font-weight: inherit;
	color: #fff;
	background: #747474;
	border-radius: 2px;
	cursor: pointer;
	border: 0;
	outline: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.add-expense-submit:hover {
	background: #1D9650;
}
.add-expense {
	display: block;
	width: 40px;
	height: 40px;
	margin: 40px auto 10px;
	font-size: 2rem;
	line-height: 40px;
	color: #fff;
	background: #343534;
	border-radius: 40px;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.add-expense:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	background: #FF6558;
}
.monthly-graphs {
	width: 100%;
	float: left;
}
.graph-information {
	position: absolute;
	padding: 8px 15px;
	font-weight: 300;
	color: #fff;
	opacity: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.graph-information-show {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.this-month-block {
	width: 40%;
	margin: 0 0 100px 5%;
	float: left;
	text-align: center;
}
.total-expenses,
.total-planned {
	display: block;
	margin: 20px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	font-weight: 100;
}
.graph {
	width: 100%;
	height: 240px;
}
.category {
	width: 26px;
	height: 5px;
	margin: 0 10px;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.category:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.graph-expl {
	width: 100%;
	margin: 10px 0;
	font-weight: 300;
}
.planned-block {
	width: 40%;
	margin: 0 5% 100px 0;
	float: right;
	text-align: center;
}
.no-categories-wrap {
	width: 100%;
	height: 100%;
	color: #A1A1A1;
	background: #EFEFEF;
	box-shadow: 0 2px 3px #B3B3B3;
}
.canvas-holder {
	height: 100px;
	width: 80%;
	margin: 50px auto 20px;
}
.chart-animation {
	height: 30px;
	width: 22px;
	margin: 0 10px;
	background: red;
}
.chart-animation:nth-child(1) {
	background: #8FDF6F;
	animation: myfirst 4s infinite;
	-webkit-animation: myfirst 4s infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0.8s;
}
.chart-animation:nth-child(2) {
	background: #80B3FF;
	animation: myfirst 4s infinite;
	-webkit-animation: myfirst 4s infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 1.4s;
}
.chart-animation:nth-child(3) {
	background: #FFBE39;
	animation: myfirst 4s infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation: myfirst 4s infinite;
}
.no-categories-heading {
	font-weight: 400;
}
.expenses-block {
	width: 100%;
	margin: 0 auto 50px;
	clear: both;
	background: #fff;
}
.expenses-list {
	width: 80%;
	margin: 10px 10%;
	list-style: none;
}
.expense {
	width: 100%;
	height: 50px;
	position: relative;
	float: left;
	margin: 0 0 10px 0;
	font-size: 1rem;
	line-height: 50px;
	border-bottom: solid 1px #F5F5F5;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.expense-category-sum {
	width: 24%;
	float: left;
}
.category-circle {
	width: 30px;
	height: 30px;
	margin: 10px 4px;
	float: left;
	border-radius: 30px;
	position: relative;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.expense-category-edit-mode {
	position: absolute;
	width: 100%;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.2rem;
	color: rgba(255, 255, 255, 0.8);
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.expense-category-edit-mode:hover {
	color: #fff;
}
.expense-show-category-name {
	display: block;
	position: absolute;
	left: -8px;
	font-size: 0.9rem;
	line-height: 30px;
	opacity: 0;
	z-index: -1;
	-webkit-transition: 0.3s;
	transition: 0.3;s
}
.category-circle:hover .expense-show-category-name {
	opacity: 1;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
.expense-edit-categories {
	position: absolute;
	top: 10px;
	left: 40px;
	font-size: 0.8rem;
	border: solid 2px #F0F0F0;
	background: #fff;
	border-radius: 8px;
	z-index: 1;
	opacity: 0;
	list-style: none;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	-webkit-transform: translateX(-100%) translateY(-40%) scale(0);
	-ms-transform: translateX(-100%) translateY(-40%) scale(0);
	transform: translateX(-100%) translateY(-40%) scale(0);
}
.expense-edit-categories-show {
	opacity: 1;
	-webkit-transform: translateX(0) translateY(-40%) scale(1);
	-ms-transform: translateX(0) translateY(-40%) scale(1);
	transform: translateX(0) translateY(-40%) scale(1);
}
.expense-edit-category {
	padding: 4px 6px;
	overflow: hidden;
	cursor: pointer;
}
.expense-edit-category-color {
	display: block;
	float: left;
	margin: 5px 2px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	clear: both;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.expense-edit-category-color-animate {
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	transform: rotateY(360deg);
}
.expense-edit-category:hover .expense-edit-category-color {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.expense-edit-category-name {
	margin: 0 2px;
	float: left;
	line-height: 30px;
}
.expense-sum {
	margin: 0 0 0 8%;
	float: left;
}
.expense-edit-sum {
	width: 50%;
	margin-left: 10%;
	font-size: 0.9rem;
	border: 0;
	border-bottom: solid 1px #ccc;
	outline: 0;
}
.expense-description-wrap {
	width: 50%;
	float: left;
	overflow: hidden;
}
.expense-description {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.expense-edit-description {
	width: 96%;
	margin-right: 4%;
	font-size: 0.9rem;
	border: 0;
	text-align: center;
	border-bottom: solid 1px #ccc;
	outline: 0;
}
.expense-date-and-delete {
	width: 26%;
	float: left;
}
.expense-date {

}
.expense-edit-date {
	width: 40%;
	font-size: 0.9rem;
	border: 0;
	border-bottom: solid 1px #ccc;
	outline: 0;
}
.expense-description,
.expense-date {
	float: left;
	font-size: inherit;
	font-weight: inherit;
	text-align: center;
}
.expense-edit {
	display: block;
	height: 19px;
	padding: 0 10px;
	margin: 14.5px 6px;
	float: right;
	font-size: 0.8rem;
	color: #bababa;
	text-align: center;
	line-height: 19px;
	border: solid 1px #bababa;
	border-radius: 6px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.expense-edit-on {
	background: #5EC035;
	border-color: #5EC035;
	color: #fff;
}
.expense-edit:hover {
	border-color: #5EC035;
}
.expense-delete {
	display: block;
	width: 19px;
	height: 19px;
	margin: 14.5px 0;
	float: right;
	font-size: 0.8rem;
	color: #bababa;
	text-align: center;
	line-height: 19px;
	border: solid 1px #bababa;
	border-radius: 21px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.expense-delete:hover {
	background: #F3462C;
	border-color: #F3462C;
	color: #fff;
}
.expense.ng-enter,
.expense.ng-leave.ng-leave-active {
	opacity:0;
}
.expense.ng-leave,
.expense.ng-enter.ng-enter-active {
	opacity:1;
}
.no-expenses-wrap {
	width: 80%;
	height: 110px;
	margin: 80px auto 0;
	color: #A1A1A1;
	background: #EFEFEF;
	text-align: center;
	box-shadow: 0 2px 3px #B3B3B3;
}
.no-expenses-heading {
	font-weight: 300;
	line-height: 110px;
}
/* double check this code */
.menu-block-mobile {
	width: 100%;
	height: 60px;
	position: fixed;
	text-align: center;
	background: #575757;
	border-bottom-left-radius: 60px;
	border-top-left-radius: 60px;
	transform: translateX(90%);
	-webkit-transform: translateX(90%);
	-ms-transform: translateX(90%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
	z-index: 3;
	display: none;
}
.translate-menu-block-mobile {
	border-radius: 0;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
}
.menu-toggle-mobile {
	position: absolute;
	float: left;
	margin: 14px 0 14px 10px;
}
.menu-toggle-line {
	display: block;
	width: 28px;
	height: 4px;
	margin: 5px 0;
	background: #fff;
	border-radius: 1px;
}
.menu-links-mobile {
	display: inline-block;
	list-style: none;
}
.menu-link-item-mobile {
	height: 60px;
	float: left;
}
.menu-icon-mobile {
	margin: 15px 25px;
}
.hide-expense-form {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

@keyframes myfirst
{
0% {height: 30px;}
50% {height: 80px;}
100% {height: 30px;}
}

@-webkit-keyframes myfirst
{
0% {height: 30px;}
50% {height: 80px;}
100% {height: 30px;}
}

@media screen and (max-width: 768px) {
	.expense-description-wrap {
		width: 40%;
	}
	.expense-date-and-delete {
		width: 34%;
	}
	.expense-edit-date {
		width: 45%;
	}
	.expense-form {
		min-width: 380px;
	}
	.planned-block,
	.this-month-block {
		width: 45%;
	}
	.expenses-list {
		width: 98%;
		margin: 10px 1%;
	}
	.expense {
		font-size: 1rem;
	}
}
@media screen and (max-width: 568px) {
	.expense {
		font-size: 0.9rem;
	}
	.expense-category-sum {
		width: 20%;
	}
	.expense-sum {
		margin: 0 0 0 4%;
	}
	.expense-description {
		text-align: left;
	}
	.monthly-graphs {
		margin-top: 100px;
	}
	.planned-block,
	.this-month-block {
		width: 100%;
		margin: 0 0 30px 0;
	}
}
@media screen and (max-width: 460px) {
	.menu-links {
		display: none;
	}
	.menu-block-mobile {
		display: block;
	}
	.plan-expenses-block,
	.settings-block {
		top: 60px;
	}
	.category-circle {
		width: 22px;
		height: 22px;
		margin: 14px 4px;
		border-radius: 22px;
	}
	.expense-category-edit-mode {
		line-height: 22px;
	}
	.expense-description {
		font-size: 0.8rem;
	}
	.monthly-graphs {
		margin-top: 68px;
	}
	.planned-block, .this-month-block {
		margin: 0 0 20px 0;
	}
	.graph {
		width: 100%;
		height: 120px;
	}
}
@media screen and (max-width: 432px) {
	.expense-form {
		width: 100%;
		min-width: 0;
}

@media screen and (max-width: 368px) {
	.category {
		width: 22px;
	}
	.expense-date,
	.expense-edit-date {
		display: none;
	}
	.expense-category-sum {
		width: 30%;
		float: left;
	}
	.expense-description-wrap {
		width: 44%;
	}
	.expense-date-and-delete {
		width: 26%;
}