{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet'>
	<link href="{% static "css/front.css" %}" rel="stylesheet" >
	<title>Simplexpenses</title>
</head>
<body>
	<div class="wrapper">
		<header>
			<a href="/"><img class="logo" src="{% static "img/logo.png" %}" alt="simplexpenses"></a>
			<nav class="nav-block">
				<ul class="nav-list">
					<li class="nav-item"><a class="nav-item-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-item-link" href="about">About</a></li>
					<li class="nav-item"><a class="nav-item-link" href="blog">Blog</a></li>
				</ul>
			</nav>
		</header>
		<section class="app-about">
			<img class="app-about-image" src="{% static "img/mocks_example.png" %}" alt="simplexpenses">
			<h2 class="app-about-heading">What is this</h2>
			<p class="app-about-text">Before anything else - this is a development project, It's not made for extensive and hard use (yet, maybe). The app goal is to help you keep track of and plan your personal expenses. It's named simplexpenses because it's important to be simple and easy to use. </p>
			<h2 class="app-about-heading">Behind the screen</h2>
			<p class="app-about-text">Simplexpenses is written with Django. Django-rest-framework is responsible for the API structure. On client side Angularjs is doing all the magic for the user. The app is sitting comfortably on the cloud for free with the help of Heroku. </p>
		</section>
		<footer class="footer">
			<ul class="footer-links">
				<li class="footer-link-item"><a href="">Terms</a></li>
				<li class="footer-link-item"><a href="">Privacy</a></li>
			</ul>
			<h4 class="madeby">Carefully made by <a href="http://dimitarralev.net" target="_blank" class="me">me</a></h4>
		</footer>
	</div>
	<script src="{% static "js/front.js" %}"></script>
</body>
</html>