{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet'>
	<link href="{% static "css/front.css" %}" rel="stylesheet" >
	<title>Simplexpenses</title>
</head>
<body>
	<div class="wrapper">
		<header>
			<a href="/"><img class="logo" src="{% static "img/logo.png" %}" alt="simplexpenses"></a>
			<nav class="nav-block">
				<ul class="nav-list">
					<li class="nav-item"><a class="nav-item-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-item-link" href="about">About</a></li>
					<li class="nav-item"><a class="nav-item-link" href="#">Blog</a></li>
				</ul>
			</nav>
			<h2 class="main-heading">It's a small web app that can manage your personal expenses</h2>
		</header>
		<section class="form-block">
			<form class="signin-form">{% csrf_token %} 
				<input class="form-input signin-input" type="email" placeholder="email" required>
				<input class="form-input signin-input" type="password" placeholder="password" required>
				<span class="forgotten-password">I forgot my password.</span>
				<input class="form-submit signin-submit" type="submit" value="Sign in">
				<div class="signin-animation">
					<canvas class="signin-animation-chart"></canvas>
					<canvas class="signin-animation-chart"></canvas>
					<canvas class="signin-animation-chart"></canvas>
				</div>
			</form>
			<div class="recover-pass-block">
				<span id="recover-pass-close">X</span>
				<h4 class="recover-pass-heading">Fill your email address so you can recover your account.</h4>
				<form class="recover-pass-form">{% csrf_token %} 
					<input class="form-input signin-input" id="recover-pass" type="email" placeholder="email">
					<input type="submit" class="form-submit">
				</form>
			</div>
		</section>
		<section class="features-block">
			<div class="feature">
				<img src="{% static "img/graph.png" %}" width="60" height="60" alt="Expenses">
				<p class="feature-text">Track your monthly expenses by category.</p>
			</div>
			<div class="feature">
				<img src="{% static "img/plan.png" %}" width="60" height="60" alt="Plan">
				<p class="feature-text">Plan the spendings for the next month.</p>
			</div>
			<div class="feature">
				<img src="{% static "img/history.png" %}" width="60" height="60" alt="History">
				<p class="feature-text">Check and review your monthly expenses history.</p>
			</div>
			<img id="mock" src="{% static "img/mock.png" %}" alt="Simplexpenses">
		</section>
		<section class="form-block">
			<h1 class="signup-heading">Sign up for the beta.</h1>
			<form class="signup-form">{% csrf_token %} 
				<input class="form-input signup-input" type="email" placeholder="email" required>
				<input class="form-input signup-input" type="password" placeholder="password" required>
				<input class="form-input signup-input" type="password" placeholder="Confirm password" required>
				<input class="form-submit signup-submit" type="submit" value="Sign me up">
				<div class="signup-animation">
					<canvas class="signup-animation-chart"></canvas>
					<canvas class="signup-animation-chart"></canvas>
					<canvas class="signup-animation-chart"></canvas>
				</div>
			</form>
		</section>
		<footer class="footer">
			<ul class="footer-links">
				<li class="footer-link-item"><a href="#">Terms</a></li>
				<li class="footer-link-item"><a href="#">Privacy</a></li>
			</ul>
			<h4 class="madeby">Carefully made by <a href="http://dimitarralev.net" target="_blank" class="me">me</a></h4>
		</footer>
	</div>
	<script src="{% static "js/front.js" %}"></script>
</body>
</html>