<!--
1. Remove /static from the href's
-->
{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300|Open+Sans:400,300,600' rel='stylesheet'>
	<link rel="stylesheet" href="{% static "css/front.css" %}">
	<title>Simplexpenses</title>
</head>
<body>
	<div class="wraper">
		<header>
			<img class="logo" src="{% static "img/logo.png" %}" alt="simplexpenses">
			<nav class="nav-block">
				<ul class="nav-list">
					<li class="nav-item"><a class="nav-item-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-item-link" href="about">About</a></li>
					<li class="nav-item"><a class="nav-item-link" href="blog">Blog</a></li>
				</ul>
			</nav>
		</header>
		<section class="form-block">
			<form class="signin-form">{% csrf_token %} 
				<input class="form-input signin-input" type="text" placeholder="email">
				<input class="form-input signin-input" type="password" placeholder="password">
				<input class="form-submit signin-submit" type="submit" value="Sign in">
			</form>
		</section>
		<section class="features-block">
			<div class="feature">
				<img class="feature-img" src="{{STATIC_URL}}img/graph.png" width="60" height="60" alt="Expenses">
				<p class="feature-text">Store and review your monthly expenses.</p>
			</div>
			<div class="feature">
				<img class="feature-img" src="{{STATIC_URL}}img/plan.png" width="60" height="60" alt="Plan">
				<p class="feature-text">Plan the spendings for the next month by categories.</p>
			</div>
			<div class="feature">
				<img class="feature-img" src="{{STATIC_URL}}img/history.png" width="60" height="60" alt="History">
				<p class="feature-text">Check your monthly expenses history.</p>
			</div>
		</section>
		<section class="form-block">
			<h1 class="beta-heading">Sign up for the beta.</h1>
			<form class="signup-form">{% csrf_token %} 
				<input class="form-input signup-input" type="text" placeholder="email">
				<input class="form-input signup-input" type="password" placeholder="password">
				<input class="form-input signup-input" type="password" placeholder="Confirm password">
				<input class="form-submit signup-submit" type="submit" value="Sign me up">
			</form>
		</section>
		<footer class="footer">
			<ul class="footer-links">
				<li class="footer-link-item"><a href="">Terms</a></li>
				<li class="footer-link-item"><a href="">Privacy</a></li>
			</ul>
			<p class="madeby">Carefully made by <a href="" class="me">me</a></p>
		</footer>
	</div>
	<script src="{{STATIC_URL}}js/front.js"></script>
</body>
</html>