{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="expensesApp">
<head>
	<meta charset="UTF-8">
	<title>Simplexpense</title>
	<link rel="stylesheet" href="{% static "css/user.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic|Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.2.3/angular-resource.min.js"></script>
	<script src="http://code.angularjs.org/1.2.3/angular-animate.min.js"></script>
	<script src="{% static "js/main.js" %}"></script>
	<script>
		c = '{{categories|escapejs}}'
		categories = JSON.parse(c)

		e = '{{expenses|escapejs}}'
		expenses = JSON.parse(e);

		d = '{{planned|escapejs}}'
		planned = JSON.parse(d);
	</script>
</head>
<body>
	{% verbatim %}			
	<div class="wrapper" ng-controller="mainController">
		<div class="menu-block">
			<div class="plan-right-block">
				<span class="test-button" ng-click="showPlanned()">></span>
				<h1 class="summed-plan-amount">{{nextMonthAmount}}</h1>
				<div class="plan-small-graph">
				<canvas class="plan-small-category" style="background: {{setChartColor()}}; height: {{setChartHeight()}}" ng-repeat="plan in planned"></canvas>
				</div>
				<div class="plan-categories-wrap">
					<ul class="plan-categories-list">
						<li class="plan-categories-item" style="border-bottom: solid 2px {{category.color}}" ng-repeat="category in categories">
							<span class="plan-category-title">{{category.title}}</span>
							<input class="planned-category-amount" ng-init="planned_am=getPlannedAmount()" ng-keydown="updatePlanned($event)" type="number" value="{{planned_am}}">
						</li>
					</ul>
				</div>
			</div>
			<ul class="menu-links">
	{% endverbatim %}			
				<li class="menu-link-item"><a href="#"><span class="testes">Plan</span><img src="{% static "img/user_plan.png" %}" class="menu-icon" height="30" width="30" ng-click="showPlanned()"></a></li>
				<li class="menu-link-item"><a href="#"><span class="testes">History</span><img src="{% static "img/user_history.png" %}" class="menu-icon" height="30" width="30"></a></li>
				<li class="menu-link-item"><a href="#"><span class="testes">Settings</span><img src="{% static "img/user_settings.png" %}" class="menu-icon" height="30" width="30" ng-click="showSettings()"></a></li>
	{% verbatim %}
			</ul>
			<div class="settings-block">
				<div class="app-preferences">
					<h4 class="settings-heading">App Preferences</h4>
					<a href="logout" class="log-out">Sign Out</a>
				</div>
				<div class="password-change">
					<h4 class="settings-heading">Password</h4>
					<input class="input-password" type="password" placeholder="New Password" ng-model="newPass" ng-click="submPassButton=true">
					<button class="submit-password ng-hide" ng-show="submPassButton" ng-click="changePassword()">Confirm</button>
				</div>
			</div>
		</div>
		


















		<div class="test">
			<div class="expense-form" ng-class="headerClass ? 'add-expense-translate' : ''">
				<input class="add-expense-sum" type="text" value="0.00" ng-init="exp_amount='0.00'" ng-model="exp_amount">
				<ul class="add-expense-categories-list">
					<li class="add-expense-category" style="background-color: {{category.color}}" ng-class="categoryClass ? 'add-expense-category-selected' : ''" ng-repeat="category in categories" ng-click="selectCategory(soDark)" ng-init="soDark=this">{{category.title}}</li>
					<li class="add-expense-new-category" ng-click="addCategory($event)" ng-keydown="createOnEnter($event)">Add Category</li>
				</ul>
				<!-- Make it button or something more semantic -->
				<input class="add-expense-description" ng-model="exp_description" type="text">
				<label class="add-expense-description-label"><i>(Description)</i></label>
				<input class="add-expense-submit" ng-click="addExpense()" type="submit">
				<span class="add-expense" ng-click="translateForm(headerClass)">+</span>
			</div>
		</div>
		<div class="monthly-graphs">
			<div class="testovobrat" ng-show="testovobratdisplay"></div>
			<section class="this-month-block">
				<span class="sum-expenses">{{thisMonthAmount}}</span>
				<div class="graph">
					<canvas class="category" ng-click="showSpendingsOnCategory($event); testovobratdisplay" style="background: {{category.color}};height: {{dsa()}}" ng-repeat="category in categories"></canvas>
				</div>
				<h3 class="graph-expl">This month</h3>
			</section>
			<section class="planned-block">
				<span class="sum-planned">{{nextMonthAmount}}</span>
				<div class="graph">
					<canvas class="category" ng-click="testclick_clone($event); testovobratdisplay" style="background: {{setChartColor()}}; height: {{setChartHeight()}}" ng-repeat="plan in planned"></canvas>
				</div>
				<h3 class="graph-expl">Planned</h3>
			</section>
		</div>
		<section class="expenses-block">
			<ul class="expenses-list">
				<li ng-repeat="expense in expenses" class="expense">
					<span class="category-circle" style="background: {{setCategoryColor()}}"></span>
					<span class="expense-sum">{{expense.amount}}</span>
					<h3 class="expense-description">{{expense.description}}</h3>
					<h3 class="expense-date">{{expense.date}}</h3>
					<span class="nov-test" ng-click="deleteExpense($index)">x</span>
				</li>
			</ul>
		</section>
		{% endverbatim %}

	</div>
</body>
</html>