{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="expensesApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Simplexpense</title>
	<link rel="stylesheet" href="{% static "css/user.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic|Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.2.7/angular-resource.min.js"></script>
	<script src="http://code.angularjs.org/1.2.7/angular-animate.min.js"></script>
	<script src="{% static "js/main.js" %}"></script>
	<script>
		c = '{{categories|escapejs}}'
		e = '{{expenses|escapejs}}'
		p = '{{planned|escapejs}}'
		currency = '{{currency|escapejs}}'
		showNewCatButton = Boolean('{{showNewCatButton|escapejs}}')
	</script>
</head>
<body>
	{% verbatim %}
	<div class="wrapper" ng-controller="mainController" ng-click="hideElements($event)">
		<div class="menu-block">
			<div class="plan-expenses-block">
				<span class="hide-plan-expenses-block" ng-click="showPlanned()">></span>
				<h1 class="plan-expenses-total">{{nextMonthTotal}}{{currency}}</h1>
				<div class="plan-expenses-small-graph">
					<canvas class="plan-small-category" style="background: {{setChartColor()}}; height: {{setChartHeight()}}" ng-repeat="plan in planned"></canvas>
				</div>
				<div class="plan-categories-wrap">
					<ul class="plan-categories-list">
						<li class="plan-categories-item" style="border-bottom: solid 2px {{category.color}}" ng-repeat="category in categories">
							<span class="plan-category-title">{{category.title}}</span>
							<input class="plan-category-amount" ng-init="planned_am=getPlannedAmount()" ng-keydown="updatePlanned($event)" type="number" min="0" ng-model="planned_am">
						</li>
					</ul>
				</div>
			</div>
			{% endverbatim %}			
			<ul class="menu-links">
				<li class="menu-link-item">
						<img src="{% static "img/user_plan.png" %}" class="menu-icon" height="30" width="30" ng-click="showPlanned()">
						<span class="menu-link-name">Plan</span>
				</li>
				<li class="menu-link-item">
						<img src="{% static "img/user_history.png" %}" class="menu-icon" height="30" width="30">
						<span class="menu-link-name">Not Available Yet</span>
					</li>
				<li class="menu-link-item">
						<img src="{% static "img/user_settings.png" %}" class="menu-icon" height="30" width="30" ng-click="showSettings()">
						<span class="menu-link-name">Settings</span>
					</li>
			</ul>
			{% verbatim %}
			<div class="settings-block">
				<div class="app-preferences">
					<h4 class="settings-heading">App Preferences</h4>
					<div class="settings-group">
						<label class="settings-label" for="showNewButton">Show new category button</label>
						<input class="settings-checkbox" id="showNewButton" type="checkbox" ng-model="showNewCatButton" ng-change="toggleNcButton()">
					</div>
					<div class="settings-group">
						<label class="settings-label" for="currency">Currency</label>
						<input class="settings-input" id="currency" type="text" placeholder="Symbol" ng-model="currency" ng-keydown="setOnEnter($event)">
					</div>
					<a href="logout" class="log-out">Sign Out</a>
				</div>
				<div class="edit-categories">
					<h4 class="settings-heading">Categories</h4>
					<ul class="plan-categories-list">
						<li class="plan-categories-item" ng-repeat="category in categories">
							<div class="edit-category-color-picker" ng-show="showColorPicker">
								<input type="range" value="1" min="0" max="35" step="1" ng-model="newCategoryColor" ng-change="editCategoryColor(newCategoryColor)">
							</div>
							<span class="edit-category-color" style="background: {{category.color}}" ng-click="showColorPicker=!showColorPicker"></span>
							<span class="edit-category-title" ng-click="editCategoryName($event)" ng-keydown="setNameOnEnter($event)" contenteditable="{{contentedit}}">{{category.title}}</span>
							<button class="edit-category-delete" ng-click="deleteCategory($index)">Delete</button>
						</li>
					</ul>
				</div>
				<div class="password-change">
					<h4 class="settings-heading">Password</h4>
					<input class="input-password" type="password" placeholder="New Password" ng-model="newPass" ng-click="showSubmPassButton=true">
					<button class="submit-password ng-hide" ng-show="showSubmPassButton" ng-click="changePassword()">Confirm</button>
				</div>
			</div>
		</div>
		<div class="expense-form-wrapper">
			<div class="expense-form" ng-class="headerClass ? 'expense-form-translate' : ''">
				<input class="add-expense-sum" type="text" ng-model="exp_amount">
				<ul class="add-expense-categories-list">
					<li class="add-expense-category" style="background-color: {{category.color}}" ng-class="categoryClass ? 'add-expense-category-selected' : ''" ng-repeat="category in categories" ng-click="selectCategory()">{{category.title}}</li>
					<li class="category-creation-box" ng-if="showNewCatButton">
						<div class="color-picker" ng-show="showColorPicker">
							<input type="range" value="1" min="0" max="35" step="1" ng-model="$parent.tovaetest" ng-change="probvai()">
						</div>
						<span class="category-color-input" style="background: {{thecolor}}" ng-click="showColorPicker=!showColorPicker"></span>
						<input class="category-creation-input" type="text" ng-keydown="createOnEnter($event)" ng-model="$parent.newCategoryName" placeholder="New Category">
						<button class="create-button" ng-click="createCategory()">Create</button>
					</li>
				</ul>

				<input class="add-expense-description" id="description" ng-model="exp_description" type="text">
				<label class="add-expense-description-label" for="description"><i>(Description)</i></label>
				<input class="add-expense-submit" ng-click="addExpense()" type="submit">
				<span class="add-expense" ng-click="translateForm(headerClass)">+</span>
			</div>
		</div>
		<div class="monthly-graphs">
			<div class="graph-information" ng-show="testovobratdisplay"><span class="graph-information-text"></span></div>
			<section class="this-month-block">
				<span class="total-expenses">{{thisMonthAmount}}{{currency}}</span>
				<div class="graph">
					<canvas class="category" ng-click="showExpCategoryDetails()" style="background: {{category.color}};height: {{dsa()}}" ng-repeat="category in categories"></canvas>
				</div>
				<h3 class="graph-expl">This month</h3>
			</section>
			<section class="planned-block">
				<span class="total-planned">{{nextMonthTotal}}{{currency}}</span>
				<div class="graph">
					<canvas class="category" ng-click="showPlnCategoryDetails()" style="background: {{setChartColor()}}; height: {{setChartHeight()}}" ng-repeat="plan in planned"></canvas>
				</div>
				<h3 class="graph-expl">Planned</h3>
			</section>
		</div>
		<section class="expenses-block">
			<ul class="expenses-list">
				<li class="expense" ng-repeat="expense in expenses">
					<div class="category-circle" style="background: {{setCategoryColor()}}">
						<span class="expense-show-category-name">{{setCategoryName()}}</span>						
					</div>
					<span class="expense-sum">{{expense.amount}}{{currency}}</span>
					<h3 class="expense-description">{{expense.description}}</h3>
					<h3 class="expense-date">{{expense.date}}</h3>
					<span class="expense-delete" ng-click="deleteExpense($index)">x</span>
				</li>
			</ul>
		</section>
		{% endverbatim %}
	</div>
</body>
</html>