{% load staticfiles %}

<!doctype html>
<html lang="en" ng-app="expensesApp">
<head>
	<meta charset="UTF-8">
	<title>Simplexpense</title>
	<link rel="stylesheet" href="{% static "css/user.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic|Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.2.3/angular-resource.min.js"></script>
	<script src="http://code.angularjs.org/1.2.3/angular-animate.min.js"></script>
	<script src="{% static "js/main.js" %}"></script>
	<script>
		c = '{{categories|escapejs}}'
		categories = JSON.parse(c)

		d = '{{planned|escapejs}}'
		planned = JSON.parse(d);
	</script>
</head>
<body>
	<h1 class="sum-planned-amount">467.43</h1>
</body>
</html>